@charset "UTF-8";

body{
	background: #456;
	text-align: center;
}

ul{
	list-style: none;
}

.container{
	width : 400px;
	height : 360px;
	margin: 0 auto;
	background: #ebebeb;
	border-radius: 3px;
}

h2{
	background: #28d;
	color: #fff;
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 3px;
}

.center{
	width :400px;
	margin : 0 auto;
	border-radius: 3px;
}

.square_btn{
	display : inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #28d;/*ボタン色*/
    color: #FFF;
    width:200px;
    margin-bottom:10px;
    border-radius: 3px;
}

.square_btn:active{/*ボタンを押したとき*/
    transform: translateY(4px);/*下に動く*/

}

.whiteText{
	color:#fff;
}

