@charset "UTF-8";


/*----------*/
/*--footer--*/
/*----------*/
footer{
	color: white; /* 文字の色*/
	background-color: #000033; /* 背景の色 */
	padding: 20px 0; /* 内側の余白 上下20px 左右0 */
}

/*------------------*/
/*--footerのリンク--*/
/*------------------*/
footer a:visited {
	color: white;
}

footer a:link{
	color: white;
}

footer a:hover{
	text-decoration: underline;
}




#right{
	text-align : right;
	margin-right: 55px;
}

#right a{
	margin-right: 15px;

}


a{
	text-decoration:none;
}

