@charset "UTF-8";


/*----------*/
/*--header--*/
/*----------*/

header{
	background-color: rgb(33,47,109);
}
header,footer{
	width:1048px;
	margin:0 auto;
}

#nav{
    background-color: rgb(33,47,109);
    padding: 10px 70px ;
    display: flex;
     justify-content: space-between;
}
.link{
	display: flex;
	 justify-content: space-around;
	 align-items:flex-end;
}

.button:hover{
	background-color: #ffffff;
	color: #c0c0c0;
	border-radius: 3px;

}

.userInfo{
	width:200px;
	display:block;
	padding:10px;
	background-color: #dddddd;
	text-align: center;
	line-height: 1.8em;
}
/* ここから下がボタンのCSS　*/
.button{
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding:5px 10px;
  position: relative;
  background-color: #28d;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}

.button:hover {
  border-color: #FFF;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: transparent;
  outline-offset: 12px;
  text-shadow: 2px 2px 3px #000;
}



a:visited{
	color:black;
}




#nav ul li a {
    text-decoration: none;
    color: #fff;
}

#nav ul li a:hover {
	text-decoration: underline;
}

#hoge{
	display: inline;
}


/*----------*/
/*--footer--*/
/*----------*/
footer{
	color: white; /* 文字の色*/
	background-color: #000033; /* 背景の色 */
	padding: 20px 0; /* 内側の余白 上下20px 左右0 */
	text-align:center;
}

/*------------------*/
/*--footerのリンク--*/
/*------------------*/
footer a:visited {
	color: white;
}

footer a:link{
	color: white;
}

footer a:hover{
	text-decoration: underline;
}

#right{
	text-align : right;
	margin-right: 55px;
}

#right a{
	margin-right: 15px;
}

a{
	text-decoration:none;
}

/*  headerの予約流れエリアについて*/
#main{
	padding: 30px 70px 30px 70px;
	background-color:  #a6b0e3;
	border-top:double #ffff2b 2px;
}


.spanao{
	color: #364e96;
}

h4.ao {
	color: #364e96;/*文字色*/
	border: solid 3px #ffffff;/*線色*/
	padding: 0.5em;/*文字周りの余白*/
	border-radius: 0.5em;/*角丸*/
	display: inline;
	background-color:  #cfcfcf;
}

h4.siro {
	color: #000000;/*文字色*/
	border: solid 3px yellow;/*線色*/
	padding: 0.5em;/*文字周りの余白*/
	border-radius: 0.5em;/*角丸*/
	display: inline;
	background-color:  #ffffff;
}
