@charset "UTF-8";


/*--------*/
/*--body--*/
/*--------*/
body{
	background-image: linear-gradient(-90deg, #C7FFDD, #D8C7FF);
}

.title{
	margin:0 auto;
}

.center{
	display: inline-block;
	width: 100%;
	text-align: center;
}

h1{
	margin-top :10px;
	margin-bottom : 10px;
}

.air{
	height:500px;
}


/*----------*/
/*--main--*/
/*----------*/


