@charset "UTF-8";

body{
	background: #456;
	text-align: center;
}

.container{
	margin: 0 auto;
	width: 1024px;
}

h2{
	text-align: center;
	background: #28d;
	padding: 20px;
	color:#fff;
	border-radius: 3px;
}


div.main{
	width:610px;
	margin: 0 auto;
	border-radius: 3px;
}

div.main1{
	width:400px;
	margin: 0 auto;
	border-radius: 3px;
	background-color: white;
}

div.errmsg{
	background: white;

}


.container{
	background: #ebebeb;
	padding: 20px;
	border-radius: 3px;
}

.center{
	text-align: center;
	color:#fff;
}

table{
	margin: 0 auto;
}
.box{
	background-color:white;
}