@charset "UTF-8";

body{
	background-image: linear-gradient(-90deg, #C7FFDD, #D8C7FF);
	text-align: center;
}

h2{
	text-align: center;
	background: #28d;
	padding: 20px;
	margin-bottom: 0;
	color:#fff;
	border-radius: 3px;
}


div.main{
	width:800px;
	margin: 0 auto;
	border-radius: 3px;
}

div.main1{
	width:400px;
	margin: 0 auto;
	border-radius: 3px;
}

div.errmsg{
	background: white;

}

.container{
	background: #ebebeb;
	padding: 20px;
	border-radius: 3px;
}

.center{
	text-align: center;
	color:#28d;
}

.left{
	float:left
}

div.add{
	text-align: left;
	margin-left: 30px;
}
