@charset "UTF-8";

body {
	width: 1048px;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	width: 90%;
	border: medium solid #ff8000;
	background-color: #fee6c0;
}

/*日本地図CSS */
#map {
	margin: 10px auto;
	width: 500px;
	position: relative;
	border: solid 3px #66FFCC;
	background: #CCFFFF;
}

.kinki {
	position: absolute;
	bottom: 130px;
	right: 200px;
}

.hokkaido {
	position: absolute;
	top: 40px;
	right: 70px;
}

.kanto {
	position: absolute;
	bottom: 100px;
	right: 80px;
}

.tyugoku {
	position: absolute;
	bottom: 130px;
	left: 170px;
}

.sikoku {
	position: absolute;
	bottom: 65px;
	left: 170px;
}

.kyusyu {
	position: absolute;
	bottom: 90px;
	left: 75px;
}
/**/
.btn {
	display:inline-block;
	padding: 1px;
	font-size: 15px;
	text-align: center; border : solid 1px rgb( 247, 246, 247);
	border-radius: 5px;
	background-color: rgb(216, 222, 217);
	border: solid 1px rgb(247, 246, 247);
}

.btn:hover {
	background-color: rgba(231, 113, 38, 0.8);
	color: rgb(251, 251, 251);
	cursor: pointer;
	transition: .8s;
}

.btn2 {
	display:inline-block;
	padding: 5px 10px;
	font-size: 20px;
	color:black;
	text-align: center; border : solid 1px rgb( 247, 246, 247);
	background-color: rgb(216, 222, 217);
	border: solid 1px rgb(247, 246, 247);

}

.btn2:hover {
	background-color: #eceeec;
	}

a {
	text-decoration: none;
}
a:visited {	color: black;}

/* hoteljsp用CSS */
.area {
	margin: 10px 25px;
}

.box {
	border-bottom: medium solid #ff8000;
	border-top: medium solid #ff8000;
	margin: 25px;
	padding: 20px;
	background-color: #fef8c0;
}
.box:nth-child(2n+0) {
	border-bottom: medium solid #ff8000;
	border-top: medium solid #ff8000;
	margin: 25px;
	padding: 20px;
	background-color: #d9fffd;
}

.box2 {
	border-bottom: medium solid #ff8000;
	border-top: medium solid #ff8000;
	margin: 25px;
	padding: 20px;
	background-color: #ffefe1;
	text-align: center;
	line-height: 1.5em;
}

.areaName {
	display: block;
	border-bottom: solid 3px skyblue;
}


.photo {
	float: left;
}

.descriptArea{
	display: flex;
	justify-content: space-around;

}

/* plan.jsp用CSS */
.planName {
	padding: .25em 0 .25em .5em;
	border-left: 6px solid #AAAAAA;
	text-align:left;
}
.descript{
	width:400px;
}
.text{
	border-top:solid 3px #CCCCCC;
	border-bottom:solid 3px #CCCCCC;
	margin-bottom:10px;
	height:7em;
}

.hotel{
	padding:10px;
}
.textarea{
	font-size: 12px;
	padding :10px  20px;
	border-bottom:2px dotted #fedec0;
	magin:10px;
}
.hotelarea{
	padding:10px 15px;
	display:flex;
	justify-content: space-around;

}

.detail{
	font-size:13px;
	padding:0 30px;
	width:350px;
}

.detail2{
	font-size:13px;
	padding:0 30px;
	width:80%;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: center;
	width:85%;
}
.title{
	border-bottom:2px double #ffb300;
	margin-bottom:10px;
}
.img{
	border:3px solid white;;
}

.btn_area{
	margin:0 auto;
	width:75%;
	 text-align: center;
}
.calendarArea{
	height:500px;
	background-color:;
}
.calendar{
	width: 400px;
}
.calendar table{
	width:700px;

	border-collapse: separate;
}
.calendar th, .calendar td{
	background-color: #ffffff;
	text-align: center;
	border:solid 1px black;
}
.calendar th{

}
.calendar th:first-child{
	color:red;
}
.calendar td{

}



/* topに戻すボタンCSS   -------------------------------------                      */
#pageTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	margin: 80px;
}

#pageTop i {
	padding-top: 6px;
	madin-bottom:5px;
}

#pageTop a {
	display: block;
	z-index: 999;
	padding: 8px;
	border-radius: 30px;
	width: 35px;
	height: 35px;
	background-color: #ff4500;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

#pageTop a:hover {
	text-decoration: none;
	opacity: 0.7;
}